<div style="font-size: smaller">double</div>
<div class="column-container">
    <div class="column-item">d2f</div>
    <div class="column-item">d2i</div>
    <div class="column-item">d2l</div>
    <div class="column-item">dadd</div>
    <div class="column-item">daload</div>
    <div class="column-item">dastore</div>
    <div class="column-item">dcmp_op</div>
    <div class="column-item">dconst_d</div>
    <div class="column-item">ddiv</div>
    <div class="column-item">dload</div>
    <div class="column-item">dload_n</div>
    <div class="column-item">dmul</div>
    <div class="column-item">dneg</div>
    <div class="column-item">drem</div>
    <div class="column-item">dreturn</div>
    <div class="column-item">dstore</div>
    <div class="column-item">dstore_n</div>
    <div class="column-item">dsub</div>
</div>
