<div style="font-size: smaller">float</div>
<div class="column-container">
    <div class="column-item">f2d</div>
    <div class="column-item">f2i</div>
    <div class="column-item">f2l</div>
    <div class="column-item">fadd</div>
    <div class="column-item">faload</div>
    <div class="column-item">fastore</div>
    <div class="column-item">fcmp_op</div>
    <div class="column-item">fconst_f</div>
    <div class="column-item">fdiv</div>
    <div class="column-item">fload</div>
    <div class="column-item">fload_n</div>
    <div class="column-item">fmul</div>
    <div class="column-item">fneg</div>
    <div class="column-item">frem</div>
    <div class="column-item">freturn</div>
    <div class="column-item">fstore</div>
    <div class="column-item">fstore_n</div>
    <div class="column-item">fsub</div>
</div>