<div style="font-size: smaller">int</div>
<div class="column-container">
    <div class="column-item">i2c</div>
    <div class="column-item">i2b</div>
    <div class="column-item">i2c</div>
    <div class="column-item">i2d</div>
    <div class="column-item">i2f</div>
    <div class="column-item">i2l</div>
    <div class="column-item">i2s</div>
    <div class="column-item">iadd</div>
    <div class="column-item">iaload</div>
    <div class="column-item">iand</div>
    <div class="column-item">iastore</div>
    <div class="column-item">iconst_i</div>
    <div class="column-item">idiv</div>
    <div class="column-item">iinc</div>
    <div class="column-item">iload</div>
    <div class="column-item">iload_n</div>
    <div class="column-item">imul</div>
    <div class="column-item">ineg</div>
    <div class="column-item">ior</div>
    <div class="column-item">irem</div>
    <div class="column-item">ireturn</div>
    <div class="column-item">ishl</div>
    <div class="column-item">ishr</div>
    <div class="column-item">istore</div>
    <div class="column-item">istore_n</div>
    <div class="column-item">isub</div>
    <div class="column-item">iushr</div>
    <div class="column-item">ixor</div>
</div>
