<div style="font-size: smaller">long</div>
<div class="column-container">
    <div class="column-item">l2d</div>
    <div class="column-item">l2f</div>
    <div class="column-item">l2i</div>
    <div class="column-item">ladd</div>
    <div class="column-item">laload</div>
    <div class="column-item">land</div>
    <div class="column-item">lastore</div>
    <div class="column-item">lcmp</div>
    <div class="column-item">lconst_l</div>
    <div class="column-item">ldc</div>
    <div class="column-item">ldc_w</div>
    <div class="column-item">ldc2_w</div>
    <div class="column-item">ldiv</div>
    <div class="column-item">lload</div>
    <div class="column-item">lload_n</div>
    <div class="column-item">lmul</div>
    <div class="column-item">lneg</div>
    <div class="column-item">lor</div>
    <div class="column-item">lrem</div>
    <div class="column-item">lreturn</div>
    <div class="column-item">lshl</div>
    <div class="column-item">lshr</div>
    <div class="column-item">lstore</div>
    <div class="column-item">lstore_n</div>
    <div class="column-item">lsub</div>
    <div class="column-item">lushr</div>
    <div class="column-item">lxor</div>
</div>